<%- include('layout/head', {title: 'PS Online Judge'}) %>

<div class="container d-flex h-100">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-6 mx-auto">
        <div class="jumbotron">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Вход в систему</h2>
              <form id="login-form" action="/login" method="post">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Логин:</span>
                  </div>
                  <input type="text" name="username" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Пароль:</span>
                  </div>
                  <input type="password" name="password" class="form-control" aria-label="Password" aria-describedby="basic-addon1">
                </div>
                <% if (loginFailed) { %>
                <div class="error text-danger">Ошибка: неправильный логин или пароль</div>
                <% } %>
                <button type="submit" class="btn btn-default">Войти</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('layout/tail') %>
