<%- include('layout/head', {title: 'PS Online Judge'}) %>
<div class="container">
  <h2>Карта сайта</h2>
  <p>
    • <a href="/student">Страница участника</a>
  </p>
  <p>
    • <a href="/judges">Страница судьи</a>
  </p>
  <p>
    • <a href="/results">Таблица результатов</a>
  </p>
</div>

<%- include('layout/tail') %>
