<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- Side panel styles -->
    <link rel="stylesheet" href="/css/side_panel.css">
    <!-- Content styles -->
    <link rel="stylesheet" href="/css/content.css">
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
