<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header">
        <a href="/">PS.Judge</a>
    </div>
    <ul class="list-unstyled components">
        <li><a href="/student">Задания</a></li>
        <li><a href="/student/solutions">Решения</a></li>
    </ul>      
</nav>
