<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header">
        <a href="/">PS.Judge</a>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">Курс Основы Программирования</a>
            <ul class="list-unstyled collapse" id="pageSubmenu" style>
                <li><a href="/student">Задания</a></li>
                <li><a href="/student/solutions">Решения</a></li>
            </ul>
        </li>
    </ul>      
</nav>
