<nav class="navbar navbar-expand-lg navbar-light bg-light mb-lg-4">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">PS.Judge</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-main">
            <ul class="nav navbar-nav mr-auto">
                <li class="active"><a class="nav-link" href="/student">Задания</a></li>
                <li><a class="nav-link" href="/student/solutions">Решения</a></li>
            </ul>
        </div>
    </div>
</nav>
