<%- include('../layout/head', {title: 'Задачи'}) %>
<div class="wrapper">
  <%- include('../layout/student_navbar') %>
  <div id="content">
    <h2>Список заданий</h2>
  </div>
</div>
<%- include('../layout/tail') %>
