<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header">
        <a href="/">PS.Judge</a>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a href="#ControlPanel" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">Панель управления</a>
            <ul class="list-unstyled collapse" id="ControlPanel" style>
                <li><a href="/">Пользователи</a></li>
                <li><a href="/admin/competitions">Соревнования</a></li>
            </ul>
        </li>
    </ul>      
</nav>